* {
    margin: 0;
    padding: 0;

}

html, body {
    height: 100%;
    width: 100%;
}
body {

    font-family: 'Indie Flower', cursive;
    font-style: normal;
    font-weight: lighter;
    font-size: 40px;
    color: #4C4C4C;
    background-color: #D4EBEB;
}

#gallery {
    margin: 0 auto;
    display: table-cell;
    text-align: center;
}

#gallery img {
    width: 160px;
    height: 100px;
    border: 4px solid #c2e1f5;
    border-radius: 3px;
    cursor: pointer;
}

#head a {
    color: #4C4C4C;
    text-decoration: none;
}
#head a:hover {
    color: #000000;
}

#content {
    position: relative;
    top: 250px;
    display: block;
    font-size: 35px;
}

#mo {
    position: absolute;
    width: 100%;
    height: 18px;
    bottom: 0;
    background-image: url(../images/mo.png);
}

.cloud {
    background: url(../images/cloud.png);
    width: 82px;
    height: 38px;
    position: absolute;
    top: 70%;
    left: 20%;
}

ul {
    list-style: none;
}

#year {
    font-size: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
}

div#sun {
    top: 0;
    left: -462px;
    position: absolute;
    background: url(../images/sun-2.png) bottom no-repeat;
    width: 446px;
    height: 229px;
}

div#cloud-1 {
    top: 163px;
    left: 44px;
}

div#head {
    position: relative;
}

div#line1 {
    position: absolute;
    background: url(../images/line-1.png) bottom;
    width: 91px;
    height: 122px;
}

#about {
    position: absolute;
    top: 93px;
    left: 42px;
}

div#line2 {
    position: absolute;
    top: 115px;
    left: 90px;
    background: url(../images/line-2.png) bottom;
    width: 276px;
    height: 37px;
}

div#dot1 {
    position: absolute;
    top: 120px;
    left: 87px;
    background: url(../images/dot-blue-1.png) bottom;
    width: 8px;
    height: 8px;
}

div#info-group {
    position: relative;
}

#info {
    position: absolute;
    top: 65px;
    left: 165px;
}

div#dot2 {
    position: absolute;
    top: 91px;
    left: 211px;
    background: url(../images/dot-2.png) bottom;
    width: 8px;
    height: 8px;
}

div#line3 {
    position: absolute;
    left: 91px;
    background: url(../images/line-3.png) bottom;
    width: 134px;
    height: 115px;
}

div#line4 {
    position: absolute;
    left: 162px;
    top: 1px;
    background: url(../images/line-4.png) bottom;
    width: 66px;
    height: 85px;
}

div#dot4 {
    position: absolute;
    top: 106px;
    left: 361px;
    background: url(../images/dot-4.png) bottom;
    width: 8px;
    height: 8px;
}

div#line5 {
    position: absolute;
    left: 363px;
    top: 1px;
    background: url(../images/line-5.png) bottom;
    width: 743px;
    height: 104px;
}

#projects {
    position: absolute;
    left: 321px;
    top: 79px;
    display: block;
}

#dontclick {
    position: absolute;
    top: 95px;
    right: 0;
}

div#orbite {
    position: absolute;
    top: 89px;
    right: 116px;
    background: url(../images/orbite.png);
    height: 24px;
    width: 24px;
}

div#moon {
    position: absolute;
    top: 111px;
    right: 233px;
    background: url(../images/moon.png);
    height: 28px;
    width: 19px;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

