<div id="gallery">
    <img src="../projects/vrach-cosmetolog.com.ua.png" alt="vrach-cosmetolog.com.ua.png"/>
    <img src="../projects/autorinok.com.ua.png" alt="autorinok.com.ua"/>
    <img src="../projects/cpaudit.com.ua.png" alt="cpaudit.com.ua.png"/>
    <img src="../projects/elux.in.ua.png" alt="elux.in.ua.png"/>
    <img src="../projects/glazey.com.ua.png" alt="glazey.com.ua.png"/>
    <img src="../projects/jamfest.com.ua.png" alt="jamfest.com.ua.png"/>
    <img src="../projects/magicmoment.com.ua.png" alt="magicmoment.com.ua.png"/>
    <img src="../projects/master-okna.com.ua.png" alt="master-okna.com.ua.png"/>
    <img src="../projects/seebestofkiev.com.png" alt="seebestofkiev.com.png"/>
    <img src="../projects/toolsmaster.com.ua.png" alt="toolsmaster.com.ua.png"/>
    <img src="../projects/uadecor.com.png" alt="uadecor.com.png"/>
    <img src="../projects/ur.org.ua.png" alt="ur.org.ua.png"/>
    <img src="../projects/uvlek.org.ua.png" alt="uvlek.org.ua.png"/>
    <img src="../projects/voronovkonstantin.ru.png" alt="voronovkonstantin.ru.png"/>
    <img src="../projects/youthmovement.com.ua.png" alt="youthmovement.com.ua.png"/>
</div>
